# # Установлено для всех текстовых файлов LF
# * text=auto eol=crlf

# # Явно указано для конкретных типов файлов
# *.js text eol=crlf
# *.ts text eol=crlf
# *.vue text eol=crlf
# *.css text eol=crlf
# *.html text eol=crlf
# *.json text eol=crlf
# *.md text eol=crlf
# *.txt text eol=crlf

# # Бинарные файлы
# *.png binary
# *.jpg binary
# *.jpeg binary
# *.gif binary