@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ubuntu Mono";
  src: url("/fonts/UbuntuMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu Mono";
  src: url("/fonts/UbuntuMono-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu Mono";
  src: url("/fonts/UbuntuMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@layer base {
  html,
  body {
    @apply bg-gray-300 dark:bg-stromboli-950;
  }
}

@layer components {
  .background {
    @apply bg-gray-300 dark:bg-stromboli-950;
  }
  .green {
    @apply text-stromboli-700  dark:text-stromboli-600;
  }
  .background-green {
    @apply bg-stromboli-700  dark:bg-stromboli-600;
  }
  .border-green {
    @apply border-stromboli-700  dark:border-stromboli-600;
  }
  .purple {
    @apply text-purpleheart-800  dark:text-purpleheart-700;
  }
  .blog-tags {
    @apply text-purpleheart-800  dark:text-purpleheart-500;
  }
  .background-purple {
    @apply bg-purpleheart-800  dark:bg-purpleheart-900;
  }
  .border-purple {
    @apply border-purpleheart-800  dark:border-purpleheart-900;
  }
  .caption {
    @apply green font-ubuntu text-3xl md:text-4xl font-bold text-center my-8/*text-4xl font-bold leading-snug tracking-tight text-gray-800 lg:text-4xl lg:leading-tight xl:text-6xl xl:leading-tight*/ /*dark:text-white*/;
  }
  .basic {
    @apply font-stock py-5 text-base leading-normal lg:text-lg xl:text-xl dark:text-gray-300;
  }
  .button {
    @apply background-purple text-center text-white rounded-md; /*flex flex-col items-start space-y-3 sm:space-x-4 sm:space-y-0 sm:items-center sm:flex-row;*/
  }
  .widget {
    @apply bg-gray-200 p-8 lg:p-14 rounded-2xl dark:bg-stromboli-800;
  }
  .widget-hover {
    @apply hover:bg-gray-100 dark:hover:bg-stromboli-900;
  }
  .code-block {
    @apply bg-gray-100 text-black dark:bg-gray-800 dark:text-white p-2 rounded;
  }
  .pre-block {
    @apply bg-gray-100 text-black dark:bg-gray-800 dark:text-white p-4 rounded overflow-x-auto;
  }
}
